{% if user.is_authenticated %}
    <h2>hello {{ user.username }}</h2>
    <a href= "{% url 'logout' %}">
        Sign Out    
    </a>
    
{% else %}
    <h2>hello Stranger</h2>
    <a href= "{% url 'signin' %}">
        Sign In Please
    </a>
    <a href= "{% url 'signup' %}">
        or Sign up    
    </a>
{% endif %}

{% for post in posts.all %}
    <h6>write by {{ post.writer }} </h6>
    <h4>{{ post.title }}</h4>
    <h5>{{ post.body }}</h5>
    {% if post.image %}
        <img src="{{ post.image.url }}">
    {% endif %}

    <h6>tags : </h6>
    {% for hashtag in post.hashtags.all %}
        <a href="{% url 'hashtag' pk=hashtag.id %}">
            <span>{{ hashtag.name }}</span>
        </a>
    {% endfor %}

    <h6>write at {{ post.date }}</h6>

    <!-- 댓글 보여주기 -->
    {% for comment in post.comments.all %}
        <!--  단지 같은 열에 두고싶은 귀찮은 마음에.. else 추가-->
        {% if e_c == comment.id %}
            <form method='POST' action='/comment_edit/{{ comment.id }}'>
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <input type='submit', value='submit'>
            </form>
        {% else %}
            <h6>{{ comment.c_writer }} : {{ comment.text }} </h6>
        {% endif %}
    {% endfor %}
    <hr/>
    
{% endfor %}