{% extends "app/base.html" %}
{% block footer %}

<header class="masthead" style="background-image: url('img/home-bg.jpg')">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
          <h1>Comment editing</h1>
            <span class="subheading"></span>
          </div>
          
    </div>
  </div>
</div>
</header>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
        <h6>write by <a href="{% url 'user' pk=post.writer %}">{{ post.writer }}</a> </h6>
        <h2 class="post-title">{{ post.title }}</h2>
        <h3 class="post-subtitle">{{ post.body }}</h3>
        <p class="post-meta">writed at {{ post.date }}</p>
        {% if post.image %}
            <img src="{{ post.image.url }}">
        {% endif %}
        <h6>tags : 
        {% for hashtag in post.hashtags.all %}
            <a href="{% url 'hashtag' pk=hashtag.id %}">{{ hashtag.name }}</a>
        {% endfor %}
        </h6>
        <p>likes = {{ post.likes.count }}</p>
        
        <form method='POST' action='/comment_edit/{{ e_c }}'>
            {% csrf_token %}
            <table>
                {{ form.as_p }}
            </table>
            <input type='submit', value='submit'>
        </form>
    </div>
                    
{{ block.super }}
{% endblock %}
