{% extends "app/base.html" %}
<!--  
' '인 해ㅣ태그가 있어서 urls에 str을 pk로 못줌
왜 생기는 지는 장고보다는 파이썬 문법에 작은 오류가 있을 것으로 추정
-->

{% block posts %}
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
              <span class="subheading">This is Post with </span>
              <h1>{{ hashtag }} tag</h1>
          </div>
        </div>
      </div>
    </div>
    </header>
    
    {{ block.super }}
{% endblock %}
