
{% if user.is_authenticated %}
    <h2>hello {{ user.username }}</h2>
    <a href= "{% url 'logout' %}">
        Sign Out    
    </a>

    <form method='POST'>
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type='submit', value='submit'>
    </form>
{% else %}
    <h2>hello Stranger</h2>
    <a href= "{% url 'signin' %}">
        Sign In Please
    </a>
    <a href= "{% url 'signup' %}">
        or Sign up    
    </a>
{% endif %}




{% for post in posts.all %}
    <hr/>
    <h6>write by {{ post.writer }} </h6>
    <h4>{{ post.title }}</h4>
    <h5>{{ post.body }}</h5>
    <h6>write at {{ post.date }}</h6>
    <a href="{% url 'edit' pk=post.pk %}">edit</a>
{% endfor %}