{% extends "app/base.html" %}

{% block posts %}
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        {% if user.is_authenticated %}
            <h1>Hello <a href="{% url 'user' pk=user.username %}">{{ user.username }}</a></h1>
            <a href= "{% url 'logout' %}">Sign Out</a>

            <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type='submit', value='submit'>
            </form>
          
        {% else %}
            <h1>Hello Stranger</h1>
            <a href= "{% url 'signin' %}">
                Sign In Please
            </a>
            <a href= "{% url 'signup' %}">
                or Sign up    
            </a>
        {% endif %}
        <span class="subheading"></span>
            
      </div>
    </div>
  </div>
</div>
</header>

    {{ block.super }}
{% endblock %}
