
{% if user.is_authenticated %}
    <h2>hello {{ user.username }}</h2>
    <a href= "{% url 'logout' %}">
        Sign Out    
    </a>

    <form method='POST'>
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type='submit', value='submit'>
    </form>
{% else %}
    <h2>hello Stranger</h2>
    <a href= "{% url 'signin' %}">
        Sign In Please
    </a>
    <a href= "{% url 'signup' %}">
        or Sign up    
    </a>
{% endif %}




{% for post in posts.all %}
    <hr/>
    <h6>write by {{ post.writer }} </h6>
    <h4>{{ post.title }}</h4>
    <h5>{{ post.body }}</h5>
    <h6>write at {{ post.date }}</h6>
    {% if post.writer == request.user %}
    <a href="{% url 'edit' pk=post.pk %}">edit</a>
    <a href="{% url 'delete' pk=post.pk %}">delete</a>
    {% endif %}
    {% for comment in post.comments.all %}
        <h6>{{ comment.c_writer }} : {{ comment.text }}</h6>
    {% endfor %}
    {% if user.is_authenticated %}
        <form method='POST' action='/comment/{{ post.id }}'>
            {% csrf_token %}
            <table>
                {{ c_form.as_p }}
            </table>
            <input type='submit', value='submit'>
        </form>
    {% endif %}
{% endfor %}