{% extends "app/base.html" %}

{% block footer %}
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        {% if user.is_authenticated %}
            <h1>Hello <a href="{% url 'user' pk=user.username %}">{{ user.username }}</a></h1>
            <a href= "{% url 'logout' %}">Sign Out</a>
        {% else %}
            <h1>Hello Stranger</h1>
            <a href= "{% url 'signin' %}">
                Sign In Please
            </a>
            <a href= "{% url 'signup' %}">
                or Sign up    
            </a>
        {% endif %}
        <span class="subheading"></span>
            
      </div>
    </div>
  </div>
</div>
</header>

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
        <div class="post-preview">
            <h6>write by <a href="{% url 'user' pk=post.writer %}">{{ post.writer }}</a> </h6>
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ post.body }}
            </h3>
          <p class="post-meta">writed at {{ post.date }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}">
            {% endif %}

            <h6>tags : 
            {% for hashtag in post.hashtags.all %}
                <a href="{% url 'hashtag' pk=hashtag.id %}">
                    {{ hashtag.name }}
                </a>
            {% endfor %}
            </h6>

            <p>{{ post.likes.count }} / <a href="{% url 'like' pk=post.pk %}">like</a></p>

            <!-- 작성자와 현재 SignIn한 사람이 같은 지 확인 -->
            {% if post.writer == request.user %}
                <a href="{% url 'edit' pk=post.pk %}">edit</a>
                <a href="{% url 'delete' pk=post.pk %}">delete</a>
            {% endif %}

            {% for comment in post.comments.all %}
                <!--  단지 같은 열에 두고싶은 귀찮은 마음에.. else 추가-->
                {% if comment.c_writer == request.user %}
                        <h6><a href="{% url 'user' pk=comment.c_writer %}">{{ comment.c_writer }}</a> : {{ comment.text }}
                        / <a href="{% url 'comment_edit' pk=comment.pk %}">edit</a>
                        / <a href="{% url 'comment_delete' pk=comment.pk %}">delete</a></h6>
                {% else %}
                    <h6><a href="{% url 'user' pk=comment.c_writer %}">{{ comment.c_writer }}</a> : {{ comment.text }} </h6>
                {% endif %}
            {% endfor %}

            {% if user.is_authenticated %}
                <form method='POST' action='/comment/{{ post.id }}'>
                    {% csrf_token %}
                    <table>
                        {{ c_form.as_p }}
                    </table>
                    <input type='submit', value='submit'>
                </form>
            {% endif %}
            </div>
            <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>


    {{ block.super }}
{% endblock %}


