{% extends "app/base.html" %}

{% block nav %}
{{ block.super }}
{% endblock %}

{% block footer %}

<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
              <span class="subheading">Search User by {{ name }} </span>
          </div>
        </div>
      </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for user in users %}
            <div class="post-preview">
                <a href="{% url 'user' pk=user.username %}">{{ user.username }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{{ block.super }}
{% endblock %}