{% extends "app/base.html" %}
<!--  
user.html에서 post와 comment 둘 다 edit 및 delete 했을 시
home.html로 감
views에서 왔던 곳을 기억해서 보내줄 수 있을까? like rubyonrails
-->



{% block posts %}
<h1>This is {{user.username}}'s home</h1>
<p>follow : {{ flw }}</p>
{% for f in flw_list %}
{{ f.whom }}
{% endfor %}

<p>following : {{ flwer }}</p>
{% for f in flwer_list %}
{{ f.who }}
{% endfor %}


{% if request.user.is_authenticated %}
    {% if b %}
        <a href ="{% url 'unfollow' fk=user.id %}">unfollow</a>
    {% else %}
        <a href="{% url 'follow' fk=user.id%}">follow</a>
    {% endif %}
{% endif %}

    {{ block.super }}
{% endblock %}