{% extends "app/base.html" %}
<!--  
user.html에서 post와 comment 둘 다 edit 및 delete 했을 시
home.html로 감
views에서 왔던 곳을 기억해서 보내줄 수 있을까? like rubyonrails
-->



{% block footer %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        <h1>This is {{user.username}}'s home</h1>
        <span class="subheading">follow : {{ flw }} / following : {{ flwer }}</span>
            {% for f in flw_list %}
            {{ f.whom }}
            {% endfor %}

            {% for f in flwer_list %}
            {{ f.who }}
            {% endfor %}
        {% if request.user.is_authenticated %}
            {% if b %}
                <a href ="{% url 'unfollow' fk=user.id %}">unfollow</a>
            {% else %}
                <a href="{% url 'follow' fk=user.id%}">follow</a>
            {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
</header>

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts.all %}
        <div class="post-preview">
            <h6>write by <a href="{% url 'user' pk=post.writer %}">{{ post.writer }}</a> </h6>
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ post.body }}
            </h3>
          <p class="post-meta">Posted by
            on September 24, 2019</p>
            {% if post.image %}
            <img src="{{ post.image.url }}">
            {% endif %}

            <h6>tags : 
            {% for hashtag in post.hashtags.all %}
                <a href="{% url 'hashtag' pk=hashtag.id %}">
                    {{ hashtag.name }}
                </a>
            {% endfor %}
            </h6>
            <h6>write at {{ post.date }}</h6>

            <p>{{ post.likes.count }} / <a href="{% url 'like' pk=post.pk %}">like</a></p>

            <!-- 작성자와 현재 SignIn한 사람이 같은 지 확인 -->
            {% if post.writer == request.user %}
                <a href="{% url 'edit' pk=post.pk %}">edit</a>
                <a href="{% url 'delete' pk=post.pk %}">delete</a>
            {% endif %}

            {% for comment in post.comments.all %}
                <!--  단지 같은 열에 두고싶은 귀찮은 마음에.. else 추가-->
                {% if comment.c_writer == request.user %}
                        <h6><a href="{% url 'user' pk=comment.c_writer %}">{{ comment.c_writer }}</a> : {{ comment.text }}
                        / <a href="{% url 'comment_edit' pk=comment.pk %}">edit</a>
                        / <a href="{% url 'comment_delete' pk=comment.pk %}">delete</a></h6>
                {% else %}
                    <h6><a href="{% url 'user' pk=comment.c_writer %}">{{ comment.c_writer }}</a> : {{ comment.text }} </h6>
                {% endif %}
            {% endfor %}

            {% if user.is_authenticated %}
                <form method='POST' action='/comment/{{ post.id }}'>
                    {% csrf_token %}
                    <table>
                        {{ c_form.as_p }}
                    </table>
                    <input type='submit', value='submit'>
                </form>
            {% endif %}
            </div>
            <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>



    {{ block.super }}
{% endblock %}