{% extends "app/base.html" %}

{% block footer %}

<header class="masthead" style="background-image: url('img/home-bg.jpg')">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
              <div class="form-group">
                <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            <span class="subheading"></span>
          </div>
      </div>
    </div>
  </div>
</div>
</header>

{{ block.super }}
{% endblock %}